<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Showing one post')"></head>
<body>
<nav th:replace="partials :: navbar"></nav>
<main class="container">
	<h1 th:text="${post.title}"></h1>
	<h3 th:text="${post.body}"></h3>
	<p>By: <span th:text="${post.user.username}"></span></p>
	<p>Contact: <span th:text="${post.user.email}"></span></p>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>
