<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Create an ad')"></head>
<body>
<nav th:replace="partials :: navbar"></nav>
<main class="container">
	<h1>New Post</h1>
	<form method="post" th:action="@{/ads/create}">
		<div>
			<label for="title">Title:</label>
			<input id="title" name="title" type="text" required>
		</div>
		<br>
		<div>
			<label for="description">Description:</label>
			<textarea id="description" name="description" required></textarea>
		</div>
		<button type="submit">Create</button>
	</form>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>