<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <head th:replace="partials :: head ('Your luck has been decided')"></head>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<main class="container">
  <p>You guessed: <span th:text="${guess}"></span></p>
  <p>The roll was: <span th:text="${roll}"></span></p>
  <p><span th:text="${message}"></span></p>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>
