<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Test Your Luck')" />
<!--<head th:replace="partials :: head ('Test Your Luck')"></head>-->
<body>
<div class="links text-center position-absolute top-50 start-50 translate-middle ">
	<p>PICK A NUMBER, FOOL!</p>
	<br>
	<a th:href="@{/roll-dice/1}">I PICK 1</a>
	<a th:href="@{/roll-dice/2}">I PICK 2</a>
	<a th:href="@{/roll-dice/3}">I PICK 3</a>
	<a th:href="@{/roll-dice/4}">I PICK 4</a>
	<a th:href="@{/roll-dice/5}">I PICK 5</a>
	<a th:href="@{/roll-dice/6}">I PICK 6</a>
</div>
</body>
</html>
